* {
	margin: 0;
	padding: 0;
	border: 0;

	box-sizing: border-box;
}

button {
	background-color: transparent;
	outline: none;

	cursor: pointer;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}
