.title {
	font-weight: 700;

	&.lg {
		font-size: clamp(0.902rem, 5vw, 1.125rem);
	}

	&.small {
		font-size: 1rem;
	}
}

.headline {
	font-size: 0.75rem;

	&.bold {
		font-weight: 700;
	}

	&.notBold {
		font-weight: 400;
	}
}

.paragraph {
	font-size: 1rem;
	font-weight: 400;
}

.link-sm {
	font-size: 0.8rem;
	font-weight: 400;
}
